:root {
  --accent-color: #2196F3;
  --main-color: #212121;
  --add-color: #757575;
  --add-white: #FFFFFF;
  --main-bg-color: #2F303A;
}
body {
  font-family: Roboto;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
  padding: 0;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
  .container {
    margin: 0 auto;
    padding: 0 15px;
  }
.nav-list {
  display: flex;
  gap: 50px;
  justify-content: first  baseline;
}

.nav-list-item {
  width: 45px;
  height: 16px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.header-list {
  display: flex;
  gap: 50px;
  justify-content: center;
}
.header-list-item {
  margin-top: 32px;
  margin-bottom: 32px;
}
.logo{
  font-family: Raleway;
font-size: 26px;
color:var(--accent-color);
letter-spacing: 0.78px;
}
.nav-link {
  font-family: Roboto;
font-size: 14px;
color:var(--main-color);
text-decoration: none;
letter-spacing: 0.28px;
}
.contact-link {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  color:  var(--add-color);
  letter-spacing: 0.28px;
  text-decoration: none;
}
.hero-section {
  background-color: #212121;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero {
 
 
  color: white;
  text-align: center;
font-family: Roboto;
font-size: 44px;

letter-spacing: 2.64px;
text-transform: uppercase;
}
.hero-btn {
 

  color: white;
 background-color: #2196F3;
 
font-family: Roboto;
font-size: 16px;

letter-spacing: 0.96px;
}
.advantages-list {
     display: flex;
     gap: 30px;
}
.advantages-item-title {
 
  
  color: #212121;
  text-transform: capitalize;
  font-family: Roboto;
font-size: 14px;

letter-spacing: 0.42px;
text-transform: uppercase;
}

.advantages-list-text {
  font-family: Roboto;
font-size: 14px;
padding-top: 200px;
padding-bottom: 200px;
letter-spacing: 0.42px;
}
.work-list {
  display: flex;
 justify-content: center;
 gap: 30px;
 
}

.work-item-img {
  width: 370px;
 height: 294px;

justify-content: center;
}

.work {
  padding-top: 200px;
  padding-bottom: 200px;
    color: #212121;
    text-align: center;
  font-family: Roboto;
  font-size: 36px;
  
  letter-spacing: 1.08px;
}
.workers {
  gap: 30px;
  padding-top: 200px;
padding-bottom: 200px;
  text-align: center;
font-family: Roboto;
font-size: 16px;
display: flex;
justify-content: space-between;
letter-spacing: 0.48px;
}

.advantages-list-title {
 color: #212121;
 text-transform: lowercase;
}
.advantages-list-text {
  color: #757575;
  padding-top: 200px;
padding-bottom: 200px;
}
.work-name {
  color: #212121;
  padding-top: 200px;
  padding-bottom: 200px;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.48px;
}
.workers {
  display: flex;
  justify-content: center;
}
.worker-foto {
  width: 270px;
  height: 260px;
  gap: 30px;
  flex-shrink: 0;
}
.workers-title {
  color: #212121;

text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
  justify-content: center;
}
.footer{
  background-color: #212121;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
width: 1200px;
}